name: Lint

on:
  push:
    branches:
        - master

jobs:
  eslint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x ]
    steps:
     - uses: actions/checkout@v3
     - name: Use Node.js ${{ matrix.node-version }}
       uses: actions/setup-node@v3
       with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
     - run: npm install npm@latest -g
     - run: yarn run build --if-present
     - run: npm install -g eslint
     - uses: actions/checkout@v1
     - uses: stefanoeb/eslint-action@1.0.2
       with:
          files: src/
