name: Slack

on:
  push:
    branches: [ master ]

jobs:
  slackNotification:
    name: Slack Notification
    runs-on: ubuntu-latest
   
    steps:
       - uses: actions/checkout@v2
       - name: Slack Notification
         uses: rtCamp/action-slack-notify@v2
         env:
           SLACK_WEBHOOK: https://hooks.slack.com/services/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
