name: Slack

on:
  push:
    branches: [ master ]

jobs:
  slackNotification:
    name: Slack Notification
    runs-on: ubuntu-latest
   
    steps:
      - uses: actions/checkout@v2
      - name: Notify Slack Test Result
        uses: 8398a7/action-slack@v3
        with:
          title:  Tests
         
          slackbottoken: xoxb-4485946186354-4553878809639-gRBUwBuKBjU2tsX8TGElgscu
          slackchannel: 'C04H2TAUJJD'
        
